
.board {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.circle-btn {
    border-radius: 1rem;
    height: 30%;
    aspect-ratio: 1;
}

.board-panels {
    display: flex;
    flex-direction: column;
}

.panel-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.board-control {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.board-toolbar {
    margin: 0 0.1rem 0.2rem 0.1rem;
    flex: 1;
}

.board-add-btn {
    margin: 0 0.1rem 0.2rem 0.1rem;
    flex: 8;
}
