
.board {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.circle-btn {
    border-radius: 1rem;
    height: 30%;
    aspect-ratio: 1;
}

.board-panels {
    display: flex;
    flex-direction: column;
}

.panel-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.board-control {
    display: flex;
    justify-content: center;
}

.board-control-container {
    margin: 1rem 0.5rem;
}
